<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Par e Impar</title>
</head>
<body>
    
    <h1> ¿Quieres saber si un numero es par o impar?</h1>
    <form id="formulario">
        <label for="numero">Ingrese un numero</label>
        <input type="number" id="numero" required> 

        <button type="submit">Detectar</button>
        
        <button type="submit" name="accion" value="pares">pares</button>
        <button type="submit" name="accion" value="impares">impares</button>
        
        <div>
            <p id="resultado"></p>
        </div>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>